
@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Suranna&display=swap');

*{
    margin: 0;
    padding: 0;   
    border-radius: 5px; 
    font-family: 'montserrat', sans-serif;
}

nav.navbar{ 
    background-color: black !important;
    border-radius: 0;
    padding-left: 4em !important;
    padding-right: 4em !important;
}
nav.navbar .container-fluid a{ 
    color: white;
    font-family: 'girassol';
    font-size: 1.4em;
    width: 10em;
}
nav.navbar .container-fluid a:hover{ 
    color: white;
    font-weight: bolder;
}
nav.navbar .container-fluid a span{ 
    color:#c9594f;
}
nav.navbar .container-fluid .collapse form{
    gap: 1em;
}

main{       
    height: 100%;
    width: 100%;
    text-align: center;
}
main div.card{
    background-color: black;
    color: white;
    flex-direction: row;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    text-align: left;
}
main div.card img{
    width: 28%;
    height: 28.2em;
}
main .card .card-body .card-title{
    background-color: olivedrab;
    letter-spacing: 3px;  
    padding: .2em;
    text-align: center;
}
main .card .card-body ul.d-flex{
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: .3px;
    gap: 3em;   
}
main .card .card-body ul.d-flex li{
    cursor: pointer;
    gap: 1.5em;   
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 2px; 
    padding: .3em;
}
main .card .card-body ul.d-flex li:hover{
    border-bottom-color: #c9594f;
}
main .card .card-body ul li {
    list-style: none;
}
main .card .card-body ul:nth-child(n+3) li{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;  
}
main .card .card-body ul:nth-child(n+3) li{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;  
}
main .card .card-body ul:nth-child(n+3) li:hover{
    background-color: gray;
}
main .card .card-body ul:nth-child(n+3) li:hover h6{
    color: white;
}
main .card .card-body ul:nth-child(n+3) li h6{
    color: gray;
}
main .card .card-body ul:nth-child(n+3) li p{
    padding-left: 3em;
    text-align: right;
}
main .card .card-body ul:nth-child(3) li :is(i,h6,p){
    width: 33%;
}
main .card .card-body ul:nth-child(3) li:hover i{
    color: yellow !important;
}
main .card .card-body ul:nth-child(4) li:nth-child(3) p{
    font-size: .85em;
}
main .card .card-body ul li p {
    display: inline-block;
    color: yellow;
}
main .card .card-body div#cuadroDeConnections h5 {
    color: orange;
    font-weight: lighter;
}
main .card .card-body div#cuadroDeConnections :is(p, h6) {
    color: gray;
}
main .card .card-body div#cuadroDeChart .canvasjs-chart-container canvas{
    background-color: transparent !important;
    color: red !important;
    height: 18.6em !important;
    opacity: .7 !important;
    position: static !important;
    width: 100% !important;
}
main .card .card-body div#cuadroDeChart .canvasjs-chart-container canvas:nth-child(2){
    display: none !important;
}
main .female:hover {
    box-shadow: 0 0 1.5em 1.5em rgba(176, 10, 100, 0.7);
}
main .male:hover {
    box-shadow: 0 0 1.5em 1.5em rgba(10, 176, 60, 0.7);
}
main .unknown:hover {
    box-shadow: 0 0 1.5em 1.5em rgba(201, 81, 17, 0.7);
}
main .seleccionado {
    background-color: rgba(249, 9, 9, 0.8);
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 2px; 
}